* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: #000000;
}
li {
  list-style: none;

  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1332px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
}
.padding-t {
  padding-top: 16.5rem;
}
.margin-t {
  margin-top: 16.5rem;
}
.small_device {
  opacity: 0;
  visibility: hidden;
}
/* ------------font start----------------- */
.font-bold {
  font-weight: 700 !important;
}
.font-semibold {
  font-weight: 600 !important;
}

/* ------------font end----------------- */
/* ------------text color start----------------- */
.text-primary {
  color: #ffc178;
}
.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.hover-text-black:hover {
  color: #000000;
}
.text-heading {
  font-size: 4rem;
  line-height: 5.5rem;
}
.text-detail {
  font-size: 1.125rem;
  line-height: 2rem;
}

/* ------------text color end----------------- */
/* ------------flex start------------------ */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.item-center {
  align-items: center;
}
/* -----------flex end------------------- */
/* ------------background start------------------ */
.bg-head {
  background-image: url(images/Rectangle\ 1\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-bromo {
  background-image: url(images/bromo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-culture {
  background-image: url(images/culture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-holiday {
  background-image: url(images/holiday.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* ------------background end------------------ */
/* -----------custom animation start----------- */
/* .autoShow {
  animation: autoShowAnimation both linear;
  animation-timeline: view();
}

.autoBlur {
  animation: autoBlurAnimation both linear;
  animation-timeline: view();
} */

@keyframes autoShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.1);
  }
  33% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  80% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.1);
  }
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(50px);
  }
  30%,
  90% {
    filter: blur(0);
  }
  100% {
    filter: blur(50px);
  }
}

/* -----------custom animation end----------- */
/* -----------nav start----------- */
nav {
  padding: 12px 0;
}
nav ul {
  column-gap: 3.75rem;
}
nav ul li a {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: white;
  transition: all 0.5s;
}
nav ul .nav_active,
nav li a:hover {
  color: black;
}
/* -----------nav end----------- */
/* -----------banner start------------------- */
.banner {
  padding: 20rem 0;
}
.banner .banner_head {
  font-size: 6rem;
  line-height: 6.25rem;
}
.banner .banner_head_p {
  font-size: 5.5rem;
  line-height: 6.25rem;
}
/* -----------banner end------------------- */
/* -----------holiday start------------------- */
#holiday .container {
  column-gap: 3rem;
}

.holiday_left {
  width: 50%;
  height: 50rem;
}
/* .holiday_left img {
  width: 100%;
  max-height: 100%;
} */
.holiday_right {
  width: 50%;
  padding: 118px 0;
  row-gap: 1.5rem;
}
.holiday_right .holiday_text {
  row-gap: 1rem;
}
.holiday_right .holiday_heading {
  max-width: 31rem;
}
.holiday_right .holiday_detail {
  max-width: 576px;
}
/* -----------holiday end------------------- */
/* -----------bromo start------------------- */
.bromo_container_text {
  max-width: 932px;
  padding: 296px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.bromo_container_text a {
  padding-top: 1.5rem;
}
.bromo_container_text .bromo_title {
  color: #a67237;
}

/* -----------bromo end------------------- */
/* -----------culture start------------------- */

#culture .container {
  column-gap: 3rem;
}
#culture .container .culture_text{
  row-gap: 1rem;
}
.culture_right {
  width: 50%;
}
.culture_left {
  padding: 153px 0;
  width: 50%;
}
/* -----------culture end------------------- */
/* -----------footer start------------------- */

footer {
  width: 100%;
  row-gap: 13.75rem;
}

.footer_container_left {
  width: 50%;
}
.footer_container_left h2 {
  font-size: 2rem;
  max-width: 400px;
}
.footer_container_left .logo {
  column-gap: 2rem;
}
.footer_container_right {
  width: 50%;
  row-gap: 64px;
}
.footer_container_right_top {
  column-gap: 18px;
}
.footer_container_right_bottom ul {
  row-gap: 1rem;
}
.footer_container_right_bottom ul p {
  padding-bottom: 0.5rem;
}
.footer_container_right_bottom p {
  font-size: 1.25rem;
}
.footer_container_right_bottom li {
  font-size: 1.125rem;
}
.footer_btn {
  background-color: #ffa343;
  padding: 1.125rem 4rem;
  border-radius: 0.625rem;
}
.footer_btn:hover {
  background-color: #9e6222;
  transition: all 0.3s ;
}

footer .Copyright_text {
  text-align: center;
  color: #808080;
}
/* -----------footer end------------------- */
